<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<select id="login" resultType="MemberDTO"  parameterType="HashMap">
		select * from member where member_num = #{member_num} and password = #{password}
	</select>
		
	<select id="pwSearch" resultType="String" parameterType="MemberDTO">
		select password from member 
		where member_num = #{member_num}
		and member_name = #{member_name}
		and ssn = #{ssn}
	</select>
	
	<insert id="memberAdd" parameterType="MemberDTO">
		insert into member values(#{userid}, #{passwd}, #{username}, #{post}, #{addr1}, #{addr2}, 
		#{phone1}, #{phone2}, #{phone3}, #{email1}, #{email2})
	</insert>

	<select id="mypage" resultType="MemberDTO"  parameterType="int">
		select * from member where member_num = #{member_num}
	</select>
	
	<update id="memberUpdate" parameterType="MemberDTO">
		update member set post = #{post}, addr1 = #{addr1}, addr2 = #{addr2}, phone1 = #{phone1}, 
		phone2 = #{phone2}, phone3 = #{phone3}, email1 = #{email1}, email2 = #{email2}
		where userid = #{userid}
	</update>
</mapper>